version: 2.1

orbs:
  node: circleci/node@1.1.6
  slack: circleci/slack@3.4.2

jobs:
  ui-test:
    executor:
      name: node/default
      tag: '13.8.0'
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
      - slack/status:
          fail_only: true
            
  build:
    docker:
      - image: buildpack-deps:trusty
    steps:
      - checkout
      - run:
          name: Deploy to Staging Server
          command: |
            git push --force https://heroku:6bc01e71-16ed-4cfc-8fa2-5fe6fd34e007@git.heroku.com/uberfortutor-react-staging.git master
      - slack/status:
          fail_only: true

  test-with-katalon:
    docker:
      - image: katalonstudio/katalon #7.5.5
    steps:
      - checkout
      - run:
          name: Execute Katalon Studio
          command: cd Tests && katalonc.sh -statusDelay=30 -projectPath=/root/project/Tests -retry=0 -testSuitePath="Test Suites/TS_RegressionTest" -browserType="Chrome" -apiKey=7b33cee6-8c93-4fc5-b94e-1ba666ec502d
      - slack/status:
          fail_only: false

  deploy:
    docker:
      - image: buildpack-deps:trusty
      
    steps:
      - checkout
      - run:
          name: Deploy to Production Server
          command: |
            git push --force https://heroku:6bc01e71-16ed-4cfc-8fa2-5fe6fd34e007@git.heroku.com/uberfortutor-react.git master
      - slack/status:
          fail_only: false

workflows:
  version: 2.1
  build_develop:    
    jobs:
      - ui-test:
          filters:
            branches:
              only:
                - develop
      - build:
          requires:
            - ui-test
          filters:
            branches:
              only:
                - develop
      - test-with-katalon:
          requires:
            - build
          filters:
            branches:
              only:
                - develop
  build_master:    
    jobs:
      - deploy:
          filters:
            branches:
              only:
                - master